/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.thumbnail{
}

.skills-style {
    margin-top: 30px;
    line-height: 2
}

.about-section {
    margin-top: 0;
}

p {
    text-align: center;
}

.dl-link {
    color: #29bbde;
}

ul {
    text-align: center;
    list-style-type: none;
}

/* Header styles */
header {
    font-family: SansSerif, serif;
    background-color: #1a3731;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

}

nav li {
    display: inline-block;
    margin-right: 20px;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: #333;
}
li a {
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Project styles */

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.5;
}

.project-img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 10px auto;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    background: #333333;
    padding: 16px;
    min-height: 250px;
    margin-bottom: 0;
}


.project-item:hover {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.project-item h3 {
    font-size: 18px;
    padding: 5px 30px;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: transparent; /* Add this line */
}

.project-item p {
    font-family: SansSerif, serif;
    font-size: 18px;
    padding: 2px 20px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    background-color: transparent; /* Add this line */
}

.project-subtitle {
    color: #aeeeee;
    font-style: italic;
    font-weight: bold;
    margin-top: 8px;
}

.project-description {
    color: #e0e0e0;
    margin-top: 4px;
}

/* Blog styles */
article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a3731;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-around;
}

.footer-svg {
    filter: invert(0.8);
    width: 40px;
    height: 40px;
}

.footer-svg:hover {
    scale: 110%;
    transition: 300ms;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li {
        margin: 10px;
    }

    .project-list {
        grid-template-columns: 1fr;
    }
}