/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.skills-style {
    margin-top: 30px;
}

.about-section {
    margin-top: 0;
}

p {
    text-align: center;
}

.dl-link {
    color: #29bbde;
}

ul {
    text-align: center;
    list-style-type: none;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

}

nav li {
    display: inline-block;
    margin-right: 20px;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: #333;
}

li a {
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Project styles */

.project-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-img {
    display: block;
    max-height: 120px;
    max-width: 200px;
    width: auto;
    height: auto;
}

.project-item {
    display: block;
    flex-direction: column;
    color: white;
    text-align: center;
    text-underline: none;
    border-radius: 10px;
}

.project-item:hover {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.project-item h3 {
    background-color: #333333;
    padding: 2px 20px;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.project-item p {
    background-color: #333333;
    padding: 2px 20px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
}

/* Blog styles */
article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-around;
}

.footer-svg {
    filter: invert(0.8);
    width: 40px;
    height: 40px;
}

.footer-svg:hover {
    scale: 110%;
    transition: 300ms;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li {
        margin: 10px;
    }
}